/*.boton1 {
    text-align: center; font-size: 8px;
    background-color: rgb(32, 230, 22);
    padding: 0px;
    box-shadow: 0px 0px 5px 2px rgb(106, 106, 106);
    position: absolute;
    left: 10px;
    top: 20px;
    height: 25px; width: 20px;
    flex: content;
  }

  .boton3 {
    text-align: center; font-size: 8px;
    background-color: rgb(32, 230, 22);
    padding: 0px;
    box-shadow: 0px 0px 5px 2px rgb(106, 106, 106);
    position: absolute;
    left: 200px;
    top: 20px;
    height: 25px; width: 20px;
    flex: content;
  }

  #arreglar1 {
    margin: 1px rgb(227, 17, 17);
    position: relative;
    left: 50px; top: 10px;
    background-color: black;
    max-width: 80px;
    flex: content;
  }
  #arreglar2 {
    margin: 1px color=rgb(0, 0, 0);
    position: relative;
    left: 200px; top: 50px;
    background-color: rgb(201, 23, 23);
    max-width: 80px;
    flex: content;
  }
  svg {
    width: 800px;
    height: 600px;
  }
  svg:hover {
    fill: red;
  }

  body {
    display: grid;
    height: 100vh;
    margin: 0;
    place-items: center center;
  }*/

